<template>
  <li>
    <button class="header" @click="collapsed = !collapsed" :class="{ active: !collapsed }">
      {{ beer.name }}
      <span v-show="collapsed" class="right">+</span>
      <span v-show="!collapsed" class="right">-</span>
    </button>
    <transition name="slide">
    <div v-show="!collapsed" class="panel">
      <p class="tagline">{{ beer.tagline }}<span class="right">First brewed - {{ beer.first_brewed }}</span></p>
    </div>
    </transition>
  </li>
</template>

<script>
export default {
  name: "Accordian",
  props: {
    beer: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      collapsed: true,
    };
  },
};
</script>

<style scoped>
button.header {
  background: lightgrey;
  border: 1px solid lightgrey;
  font-size: 1.25rem;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}
button.header.active {
  background: grey;
  border: 1px solid grey;
  color: white;
}
span.right {
  float: right;
}
div.panel {
  padding: 1em;
  border: 1px solid lightgrey;
}
.slide-enter-active {
  transition: all 0.8s cubic-bezier(0.0, 0.0, 0.58, 1.0);
}
.slide-leave-active {
  transition: all 0.5s cubic-bezier(0.42, 0.0, 1.0, 1.0);
}
.slide-enter-from, .slide-leave-to {
  max-height: 0;
  overflow: hidden;
}
.slide-enter-to, .slide-leave-from {
  max-height: 2em;
  overflow: hidden;
}
</style>
