<template>
  <div class="right">
    Sort by:
    <select v-model="selected" @change="sortBy(selected)" class="select">
      <option disabled value="select one">Select one</option>
      <option v-for="option in sortByOptions" :key="option" :value="option">{{ option.name }}</option>
    </select>
  </div>
  
  <div class="grid-container">
    <grid-item
      v-for="beer in filteredBeers"
      :key="beer.id"
      :beer="beer"
      class="item" />
  </div>
</template>

<script>
import GridItem from './GridItem';

export default {
  name: 'Grid',
  components: {
    GridItem,
  },
  props: {
    beers: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      selected: 'select one',
      sort: 'id',
      sortDirection: 'asc',
      sortByOptions: [
        {
          name: 'Name (A - Z)',
          sort: 'name',
          sortdirection: 'asc'
        },
        {
          name: 'Name (Z - A)',
          sort: 'name',
          sortDirection: 'desc'
        },
        {
          name: 'ABV % low to high',
          sort: 'abv',
          sortDirection: 'asc'
        },
        {
          name: 'ABV % high to low',
          sort: 'abv',
          sortDirection: 'desc'
        }
      ]
    };
  },
  methods: {
    sortBy(sortOption) {
      this.sort = sortOption.sort;
      this.sortDirection = sortOption.sortDirection;
    },
  },
  computed: {
    filteredBeers() {
      var clone = this.beers.slice();
      let filteredClone = clone;

      filteredClone.sort((a, b) => {
        let modifier = 1;
        if (this.sortDirection === 'desc') {
          modifier = -1;
        }
        if (a[this.sort] < b[this.sort]) {
          modifier = -1 * modifier;
        }
        if (a[this.sort] > b[this.sort]) {
          modifier = 1 * modifier;
        }
        return modifier;
      });

      return filteredClone.slice(0, 8);
    },
  },
}
</script>

<style scoped>
  div.right {
    margin: 1em 1em 0.5em;
    text-align: right;
  }
  div.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    text-align: center;
    width: 100%;
  }
  select {
    font-size: 1rem;
    padding: 0.5em;
  }
</style>