<template>
  <div class="grid-item">
    <h2>{{ beer.name }}</h2>
    <hr>
    <img :src="beer.image_url" />
    <p>{{ beer.description }}</p>
    <ul>Good with:
      <li v-for="dish in beer.food_pairing" :key="dish">
        {{ dish }}
      </li>
    </ul>
    <p class="right">{{ beer.abv }}% ABV</p>
  </div>
</template>

<script>
export default {
  name:'GridItem',
  props: {
    beer: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
  div.grid-item {
    background: lightgoldenrodyellow;
    padding: 1.5rem;
    border-radius: 1rem;
  }
  p {
    line-height: 1.5rem;
    margin-top: 1em;
  }
  p.right {
    text-align: right;
  }
  img {
    display: block;
    margin: 1em auto 2em;
    width: 100px;
  }
  ul {
    list-style-type: "\1F44D";
    margin-top: 2em;
    text-align: left;
  }
  li {
    list-style-position: inside;
    margin: 0.25em 1em;
  }
</style>