<template>
  <h1 class="title">Punk Beers</h1>
  <button type="button" class="close-all" @click="closeAll">Close all</button>
  <div class="accordian-container">
    <ul>
      <accordian-item
        v-for="beer in firstHalf"
        :key="beer.id"
        :beer="beer"
        :ref="addRef" />
    </ul>
    <ul>
      <accordian-item
        v-for="beer in secondHalf"
        :key="beer.id"
        :beer="beer"
        :ref="addRef" />
    </ul>
  </div>

  <cta-grid :beers="beers" />
</template>

<script>
import AccordianItem from './components/AccordianItem';
import CtaGrid from './components/Grid';

const init = {
  method: 'GET',
  mode: 'cors',  // Punk API has CORS enabled
  credentials: 'omit',
  cache: 'default',
  headers: {
    'content-type': 'application/json'
  }
}

export default {
  name: "App",
  components: {
    AccordianItem,
    CtaGrid,
  },
  beforeMount() {
    this.fetchBeers();
  },
  beforeUpdate() {
    this.itemRefs = [];
  },
  data() {
    return {
      beers: [],
      // Replaces V2 $refs - array no longer created automatically!
      itemRefs: [],
    }
  },
  methods: {
    async fetchBeers() {
      await fetch("https://api.punkapi.com/v2/beers", init)
      .then((response) => response.json())
      .then((data) => {
        this.beers = data.map((beer) => ({ ...beer }));
      });
    },
    addRef(el) {
      if (el) {
        this.itemRefs.push(el);
      }
    },
    closeAll() {
      this.itemRefs.forEach(item => item.collapsed = true);
    }
  },
  computed: {
    firstHalf() {
      const half = Math.ceil(this.beers.length / 2);
      return this.beers.slice(0, half);
    },
    secondHalf() {
      const half = Math.ceil(this.beers.length / 2);
      return this.beers.slice(-half);
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
html, body, button, p, ul, li, p, div {
  border: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
button {
  cursor: pointer;
}
h1.title {
  text-align: center;
}
div.accordian-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 1em;
  margin: 2em auto;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0 1em;
}
button.close-all {
  background: lightgrey;
  border: 1px solid darkgrey;
  border-radius: 5px;
  float: right;
  margin: 1em;
  padding: 0.5em;
}
button.close-all:hover {
  outline: #000;
  background: grey;
  box-shadow: 0 0 0 4px darkgrey;
}
button.close-all:focus {
  background: lightgrey;
}
</style>
